$headerHeight: 70px;

.main-container{
    position:fixed;
    z-index: 1;
    height:$headerHeight;
    width:100%;
    background-color: white;
    /*box-shadow: 0 0 10px rgb(0 0 0 / 15%);*/
    padding:0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .artom-logo{
        $artomLogoWidth: 361px;
        $artomLogoHeight: 71px;
        $artomLogoResizeRatio: 0.5;
        position: relative;
        width:calc($artomLogoWidth*$artomLogoResizeRatio);
        height:calc($artomLogoHeight*$artomLogoResizeRatio);
        cursor: pointer;
    }
    .nav-container{
        height:inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.space{
    position: relative;
    z-index: 0;
    height:$headerHeight;
    width: 100%;
}

.prototype-icon{
    position: relative;
    opacity: 0.7;
    transform: translateY(-2%);
    cursor: pointer;
}
.prototype-icon:hover{
    opacity: 1;
}

@media (min-width: 1080px) { //desktop
    .main-container{
        padding:0 30px;
    }
    .nav-container{
        width: 20%;
        min-width: 700px;
        float:right;
        /*.nav-button-container{
            margin-left:50px;
        }*/
    }
    .artom-logo{
        display: inline-block;
    }
}
@media (max-width: 1081px) { //small width
    .artom-logo{
        display: none;
    }
    .nav-container{
        width: 100%;
    }
}

@media (max-width: 530px) { //mobile
    .main-container{
        padding: 5px;
    }
    .nav-container{
        width: 100%;
    }
    .prototype-icon{
        $iconWidth: 981px;
        $iconHeight: 982px;
        $iconResizeRatio: 0.02;
        width:calc($iconWidth*$iconResizeRatio);
        height:calc($iconHeight*$iconResizeRatio);
    }
}

@media (min-width: 530px) { //above mobile width size
    .prototype-icon{
        $iconWidth: 981px;
        $iconHeight: 982px;
        $iconResizeRatio: 0.035;
        width:calc($iconWidth*$iconResizeRatio);
        height:calc($iconHeight*$iconResizeRatio);
    }
}