/*$textWhiteColor: rgb(243, 243, 243);*/
$artomBlue: rgb(0, 88, 219);
$darkBlue: $artomBlue;
$artomGreen: rgb(131, 245, 180);
$distanceBetweenTextAndLine: 5px;


$horizontal-min-width: 960px;
$max-width-for-mobile: 420px;

.button{
    display: inline-block;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    color: $darkBlue;
    margin-top: $distanceBetweenTextAndLine; //so the text doesnt appear too high
    /*color: rgb(44, 44, 44);*/
    @media (max-width: $max-width-for-mobile) {
        background-color: white;
        border: 1px solid $darkBlue;
        border-radius: 14px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        padding:5px;
        width:90px;
        height: 25px;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        &.is-selected, &:active{
            background-color: $darkBlue;
            color: white;
            border-color: $artomGreen;
        }
        .button-line{
            display:none;
        }

    }
    @media (min-width: $max-width-for-mobile) {
        .button-line{
            margin: $distanceBetweenTextAndLine 0 0 0;
            height: 2px;
            width:0%;
            transition: width 0.2s;
            /*background-image: linear-gradient(to right, blue, $artomGreen);*/
            background-color: $darkBlue;
        }
        &.is-selected{
            .button-line{
                width: 100%;
            }
        }
        
    }

}

/* 
  ##Device = Desktops
  ##Screen = min 1280px
*/

@media (min-width: $horizontal-min-width) {
    .button:hover{
        .button-line{
            width: 100%;
            transition: width 0.2s;
        }
    }
}

@media (max-width: $horizontal-min-width) {
    /*.button{
        font-size: medium;
    }*/
    .button:active{
        .button-line{
            width: 100%;
            transition: width 0.1s;
        }
    }
}
/*
@media (max-width: $max-width-for-mobile) {
    .button{
        font-size: small;
    }
}*/
/*@media only screen and (hover: none) and (pointer: coarse){ //mobile

}*/
