/*$textWhiteColor: rgb(243, 243, 243);*/
$artomBlue: rgb(0, 88, 219);
$darkBlue: $artomBlue;
$artomGreen: rgb(131, 245, 180);

.button{
    display: inline-block;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    color: $darkBlue;
    /*color: rgb(44, 44, 44);*/
    .button-line{
        margin: 5px 0 0 0;
        height: 2px;
        width:0%;
        transition: width 0.2s;
        /*background-image: linear-gradient(to right, blue, $artomGreen);*/
        background-color: $darkBlue;
    }
}
.is-selected{
    .button-line{
        width: 100%;
    }
}

/* 
  ##Device = Desktops
  ##Screen = min 1280px
*/

@media (min-width: 1080px) {
    .button:hover{
        .button-line{
            width: 100%;
            transition: width 0.2s;
        }
    }
}

@media (max-width: 1081px) {
    .button{
        font-size: medium;
    }
    .button:active{
        .button-line{
            width: 100%;
            transition: width 0.1s;
        }
    }
}

@media (max-width: 400px) {
    .button{
        font-size: small;
    }
}
/*@media only screen and (hover: none) and (pointer: coarse){ //mobile

}*/
