.main-container{
    position: relative;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 15px;
    column-gap: 25px;*/

    display: grid;
    grid-row-gap: 100px;//15px;
    grid-column-gap: 25px;


    @media (min-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }
}