@media (min-width: 1500px) {
  .how-it-work-cards-container{
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 1501px) {
  .how-it-work-cards-container{
    flex-direction: column;
  }
  .circle, .arrow, .how-it-work-cards-crossing-line{
    display: none;
  }
}

.how-it-work-cards-container{
    position: relative;
    display: flex;
    align-items: center;
  
    .circle{
      position:absolute;
      background: blue;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      top: 70%;
      transform: translateY(-50%);
    }
    $circle1Left: 0.067;
    $circleShift: 0.142;
  
    .circle-1{
      left:percentage($circle1Left);
    }
    .circle-2{
      left:calc(percentage($circle1Left) + percentage($circleShift));
    }
    .circle-3{
      left:calc(percentage($circle1Left) + percentage($circleShift*2));
    }
    .circle-4{
      left:calc(percentage($circle1Left) + percentage($circleShift*3));
    }
    .circle-5{
      left:calc(percentage($circle1Left) + percentage($circleShift*4));
    }
    .circle-6{
      left:calc(percentage($circle1Left) + percentage($circleShift*4.86));
    }
    .circle-7{
      left:calc(percentage($circle1Left) + percentage($circleShift*5.05));
    }
    .circle-8{
      left:calc(percentage($circle1Left) + percentage($circleShift*5.24));
    }
  
    .arrow{
      position: absolute;
      transform: translateY(-60%);
      right: 0px;
      width: 0; 
      height: 0; 
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 11px solid blue;
  
    }
  
    .how-it-work-cards-crossing-line{
      position: absolute;
      border-top: 1px solid blue;
    }
    .how-it-work-cards-crossing-line1{
      width: 67%;
      left:3%;
      top:70%;
    }
    .how-it-work-cards-crossing-line2{
      width: 20%;
      left:73%;
      top:70%;
    }
  }