$background-top-cover-height: 350px;

@font-face {
    font-family: 'NeueMontreal';
    font-style: normal;
    font-weight: normal;
    src: local('NeueMontreal Medium'), url('../../public/fonts/NeueMontreal-Medium.otf');
    }


.main-container{
    background-color: white;
    background-image: url('../../public/background-image.svg');
    background-size: contain;
    background-repeat: repeat;
    background-position: 0px $background-top-cover-height;
    font-family: 'NeueMontreal';
    width: 100%;
}
.background-top-cover{
    position: absolute;
    width:100%;
    height:$background-top-cover-height;
    background-color: white;
}