@font-face {
    font-family: 'Montreal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montreal Regular'), url('../../public/fonts/Montreal-Regular.woff') format('woff');
    }

/*$textWhiteColor: rgb(243, 243, 243);*/
$darkBlue: rgb(0, 0, 153);
$headerHeight: 70px;

$artworkfadeinduration: 0.8s;

$artworkshiftleftdelay: 0s;
$artworkshiftleftduration: 1.2s;


.main-container{
    --text-fadein-delay: 2.5s;
    --text-fadein-duration: 0.5s;

    --text-scale-delay: 2.5s;
    --text-scale-duration: 0.5s;

    --artwork-fadein-delay: 0.5s;
    --artwork-fadein-duration: 0.8s;
    
    --artwork-shiftleft-delay: 0s;
    --artwork-shiftleft-duration: 1.5s;

    --artwork-shifttop-delay: 0s;
    --artwork-shifttop-duration: 1.5s;

    --artwork-disappear-delay: 1.7s;

    --fraction-reduction-delay: 1.7s;
    --fraction-reduction-duration: 0.3s;

    --unselectedfractions-fadeout-delay: 2.1s;
    --unselectedfractions-fadeout-duration: 0.3s;

    --animatedfraction-animation-delay: 2.8s;

    width: 100%;
    min-height: calc(100vh - $headerHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:15px;
}

@media (min-width: 1000px) { //desktop
    .fractions-container{
        width:35%;
        animation: var(--artwork-fadein-duration) linear var(--artwork-fadein-delay) fadeIn forwards, var(--artwork-shiftleft-duration) linear var(--artwork-shiftleft-delay) artworkShiftLeft forwards;
    }
    .text-container{
        width:35%;
        margin-left:50px;
        font-size: 52px;
        text-align: left;
    }
    .selectedFractionBottom{
        animation: var(--unselectedfractions-fadeout-duration) linear var(--unselectedfractions-fadeout-delay) unselectedFractionsFadeOut forwards;
    }
}

@media (max-width: 1000px) { //mobile
    .main-container{
      flex-direction: column-reverse;
    }
    .fractions-container{
        width:90%;
        animation: var(--artwork-fadein-duration) linear var(--artwork-fadein-delay) fadeIn forwards, var(--artwork-shifttop-duration) linear var(--artwork-shifttop-delay) artworkShiftTop forwards;
    }
    .text-container{
        width:90%;
        font-size: 36px;
        text-align: center;
    }
    .selectedFractionRight{
        animation: var(--unselectedfractions-fadeout-duration) linear var(--unselectedfractions-fadeout-delay) unselectedFractionsFadeOut forwards;
    }
}


.fractions-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    /*border: 1px solid blue;*/
    opacity:0;
}

.artwork{
    position: absolute;
    width:100%;
    animation: 0s linear var(--artwork-disappear-delay) artworkDisappear forwards;
}

.fraction{
    position: relative;
    display: flex;
    flex: 1 0 33%;
    align-items: center;
    justify-content: center;
    .artwork-fraction{
        aspect-ratio: 1 / 1;
        position: absolute;
        //le probleme du bug visuel du scalling de reduction est ici
        animation: var(--fraction-reduction-duration) linear var(--fraction-reduction-delay) fractionReduction forwards;
    }
}

.unselectedFraction{
    animation: var(--unselectedfractions-fadeout-duration) linear var(--unselectedfractions-fadeout-delay) unselectedFractionsFadeOut forwards;
}

.text-container{
    /*border: 1px solid green;*/
    /*font-family: 'Montreal Regular';*/
    color:$darkBlue;
    opacity:0;
    animation: var(--text-fadein-duration) linear var(--text-fadein-delay) fadeIn forwards, 
                var(--text-scale-duration) linear var(--text-scale-delay) textScale forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes textScale {
    from {
        transform:scale(1.3);
    }
    to {
        transform:scale(1);
    }
}


@keyframes artworkShiftLeft {
    from {
        left: -100px;
    }
    to {
        left: 0px;
    }
}

@keyframes artworkShiftTop {
    from {
        top: 100px;
    }
    to {
        top: -50px;
    }
}

@keyframes artworkDisappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fractionReduction {
    from {
        width: 100%;
    }
    to {
        width: 80%;
    }
}

@keyframes unselectedFractionsFadeOut {
    from {
        opacity: 100%;
    }
    to {
        opacity: 30%;
    }
}



.flex-container{
    border: 1px solid blue;
    width:50%;
    aspect-ratio: 1 / 1;
    /*padding-bottom: 100%;  same as width for a square */
    display: flex;
    flex-wrap: wrap;
}

.flex-content{
    flex: 1 0 33%;
    border: 1px solid red;
}