$artomBlue: rgb(0, 88, 219);
$artomGreen: rgb(131, 245, 180);

.images-container{
    display:none;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfdfdf;
    display: grid;
    place-items: center;
  }

  .loader {
    border: 16px solid $artomGreen;
    border-top: 16px solid $artomBlue;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }