$artomBlue: rgb(0, 88, 219);
$box-shadow: 3px 3px 3px rgb(26, 100, 63);

.main-container{
    /*border: 1px solid green;*/
    margin: 0 0px;
}

.header{
    border-radius: 0 20px 0 0;
    background-color: $artomBlue;
    color: white;
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    box-shadow: $box-shadow;
    .number{
        margin:0px 18px;
        font-size: 38px;
    }
    .title{
        font-size: 22px;
    }
}

.body{
    border: 1px solid $artomBlue;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 10px 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:150px;
    box-shadow: $box-shadow;
    color:$artomBlue;
    font-size: 18px;
    .text-container{
        max-width:70%;
    }
    $img-width: 100px;
    .image-container{
        position: relative;
        width:$img-width;
    }
    .image-1-container{
        $dim-ratio: 92/93;
        height: calc($img-width/$dim-ratio);
    }
    .image-2-container{
        $dim-ratio: 616/613;
        height: calc($img-width/$dim-ratio);
    }
    .image-3-container{
        $dim-ratio: 503/491;
        height: calc($img-width/$dim-ratio);
    }
    .image-3-container{
        $dim-ratio: 503/491;
        height: calc($img-width/$dim-ratio);
    }
    .image-4-container{
        $dim-ratio: 591/353;
        height: calc($img-width/$dim-ratio);
    }
    .image-5-container{
        $dim-ratio: 970/654;
        height: calc($img-width/$dim-ratio);
    }
    .image-6-container{
        $dim-ratio: 591/353;
        height: calc($img-width/$dim-ratio);
    }
    .image-7-container{
        $dim-ratio: 3475/4874;
        height: calc($img-width/$dim-ratio);
    }
}
