$artomBlue: rgb(0, 88, 219);

.main-container{
    min-width: 170px;
    max-width: 400px;
    flex:1;
    /*border: 1px solid green;*/
    margin: 0 5px;
}

.header{
    height:60px;
    border-radius: 0 10px 0 0;
    background-color: $artomBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 38px;
    color: white;
    margin-bottom:5px;
}

.body{
    border: 1px solid $artomBlue;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 10px 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .text-container{
        margin: 0;
    }
    h3{
        color:rgb(26, 26, 26);
        font-weight: 700;
        margin-top: 0px;
    }
    p{
        font-weight: 500;
    }
    .image-container{
        position: relative;
        width: 80%;
    }
}

@media (min-width: 1500px) {
    .body{
      height: 400px;
      .image-container{
        height: 25%;
        }
    }
  }
  @media (max-width: 1501px) {
    .main-container{
        margin-bottom: 50px;
    }
    .body{
        height: 300px;
        .image-container{
            height: 50%;
        }
    }
  }

.last-card{
    margin-bottom: 0px;
}
.not-visible{
    opacity:1;
}

@media (min-width: 1500px) {
    .not-visible{
        opacity:0; //it disappears but keep its space on large width screens
    }
}

@media (max-width: 1501px) {
    .not-visible{
        display:none; //it really disappears on small width screens
    }
    
}