$artom-blue: rgb(0, 88, 219);
$artom-green: rgb(131, 245, 180);

$medium-screen-max-width: 1000px;
$small-screen-max-width: 420px;

$large-screen-header-height: 70px;
$small-screen-header-height: 100px;