.main-container{
  margin: 30px 20vw;
  .password-input-container{
    text-align: center;
    .check-symbol{
      position: absolute;
      color: green;
      margin-left: 7px;
      font-size:28px;
      font-weight: bold;
      transform: translateY(-6px);
    }
  }
}

