$header-height-large-screen: 70px;
$header-height-small-screen: 100px;

@import "./variables";

$pFontSize: 22px;
$desktopMinWidth: 1081px;
$mobileMaxWidth: 1080px;

$horizontal-min-width: 960px;
$max-width-for-mobile: 420px;

$illustrationOriginalWidth: 2692px;
$illustrationOriginalHeight: 2516px;
$illustration-dim-ratio : $illustrationOriginalWidth / $illustrationOriginalHeight;

$section-title-size-for-mobile: 22px;
$about-us-title-size-for-mobile: 26px;
$faq-title-size-for-mobile: 19px;

.container{
  //all
  padding: 0;
  //large
  //medium
  //small
  //touchscreen

  //children
  .sections-container{
    //all
    //large
    @media (min-width: $medium-screen-max-width) {
      margin: 0 10%;
    }
    //medium
    @media (max-width: $medium-screen-max-width) {
      margin: 0 6%;
    }
    //small
    //touchscreen
    
    //children
    .section{
      //all
      position: relative;
      height: auto;
      min-height: calc(100vh - $large-screen-header-height);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      &:not(.about-us){
        padding: 2vh 0;
      }
      //large
      //medium
      @media(max-width: $medium-screen-max-width){
        min-height: calc(100vh - $small-screen-header-height);
      }
      //small
      //touchscreen

      //&
      &.how-it-works{
        //all
        margin-bottom: 50px;
        //ch
        .how-it-works-cards-wrapper{
          //all
          width:100%;
        }
      }

      //children
      .section-title{
        //all
        margin:10px 0;
        width: 100%;
        font-weight: normal;
        font-size: 44px;
        //medium
        @media (max-width: $medium-screen-max-width) {
          text-align: center;
        }
        //small
        @media (max-width: $small-screen-max-width) {
          font-weight: bold;
          font-size: $section-title-size-for-mobile;
        }
        //&
        &:not(.stay-in-touch-title){
        //large
          @media (min-width: $medium-screen-max-width) {
            text-align: left;
          }
        }
        &.stay-in-touch-title{
          //large
          @media (min-width: $medium-screen-max-width) {
            text-align: center;
          }
        }
      }
      .about-us-content-container{
        //all
        display: grid;
        width: 100%;
        //large
        @media (min-width: $medium-screen-max-width) {
          grid-auto-flow: column;
          justify-content: space-between;
        }
        //medium
        @media (max-width: $medium-screen-max-width) {
          display: row;
          justify-items: center;
        }
        //small
        //children
        .about-us-title-and-text-container{
          //all
          //l
          @media (min-width: $medium-screen-max-width) {
            position: relative;
            height: inherit;
          }
          //m
          @media (max-width: $medium-screen-max-width) {
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          //s
          //ch

          .about-us-title{
            //all
            text-align: left;
            //l
            @media (min-width: $medium-screen-max-width) {
              margin:0px;
              font-weight: normal;
              font-size: 44px;
              width: 450px;
            }
            //m
            //s
            @media (max-width: $small-screen-max-width) {
              font-weight: bold;
              font-size: $about-us-title-size-for-mobile;
            }
          }
          .about-us-text{
            //l
            @media (min-width: $medium-screen-max-width) {
              font-size: $pFontSize;
            }
            //ch
            p{
              //l
              @media (min-width: $medium-screen-max-width) {
                width: 430px;
              }
            }
          }
          p{
            //all
            font-weight: 500;
            //m
            @media (max-width: $medium-screen-max-width) {
              font-size: 18px;            
            }
          }
        }
        .about-us-illustration{
          //all
          position: relative;
          //l
          @media (min-width: $medium-screen-max-width) {
            height: inherit;
            width:  420px * $illustration-dim-ratio;
          }
          //m
          @media (max-width: $medium-screen-max-width) {
            $illustration-height: 350px;
            margin-top:10px;
            height: $illustration-height;
            width:  $illustration-height * $illustration-dim-ratio;
          }
          //s
          @media (max-width: $small-screen-max-width) {
            $illustration-height: 250px;
            margin-top:10px;
            height: $illustration-height;
            width:  $illustration-height * $illustration-dim-ratio;
          }

        }
      }
      .faq-title{
          //s
          @media (max-width: $small-screen-max-width) {
            font-size: $faq-title-size-for-mobile;
          }
      }
      &.stay-in-touch{
        //ch
        /*p{
          //all
          font-weight: 500;
          font-size: $pFontSize;
          //l
          @media (min-width: $medium-screen-max-width) {
            text-align: left;
          }
          //m
          @media (max-width: $medium-screen-max-width) {
            text-align: center;
          }
          //s
          @media (max-width: $small-screen-max-width) {
            text-align: center;
            font-weight: 500;
            font-size: 18px;
          }    
        }*/
        .email-input-container{
          //all
          text-align: center;
          height: 30px;
          //ch
          *{
            //all
            border:1px solid $artom-blue;
            border-radius: 5px;
          }
          input{
            //all
            height: 100%;
            padding: 0 5px;
            margin-right: 3px;
            width: 200px;
            background-color: white;
            &:focus{
              //all
              outline: none;
              box-shadow: none;
              border:2px solid $artom-blue;
            }
            &::placeholder{
              //all
              color: rgb(49, 204, 116);
              font-style: italic;
            }
          }
          button{
            //all
            height: 100%;
            width: 45px;
            font-weight: 600;
            background-color: #f0efef;
          }
        }
        .social-network-buttons-container{
          //all
          text-align: center;
          //ch
          .social-network-logo{
            //all
            display: inline-block;
            position: relative;
            opacity: 0.9;
            cursor: pointer;
            //l
            @media (min-width: $medium-screen-max-width){
              width: 50px;
              height: 50px;
              margin: 15px 10px 0px 10px;
            }
            //m
            @media (max-width: $medium-screen-max-width){
              width: 45px;
              height: 45px;
              margin: 30px 5px 0px 5px;
            }
            //&
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}






/*
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
*/